CONFIG_SAM9X7=y
# CONFIG_SCLK is not set
# CONFIG_HW_DISPLAY_BANNER is not set
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W632GU6NG=y
CONFIG_SDCARD=y
CONFIG_SDHC_ASYNC_READ=y
CONFIG_SDHC_ASYNC_READ_QUEUE_SIZE="256"
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_LINUX_KERNEL_ARG_STRING="CONFIG_ARG_CONSOLE CONFIG_ARG_MTD CONFIG_ARG_ROOT CONFIG_ARG_ROOTFSTYPE CONFIG_ARG_DELAY CONFIG_ARG_CMA CONFIG_ARG_RW CONFIG_ARG_ROOTWAIT CONFIG_ARG_PRINTK"
CONFIG_ARG_DELAY=""
CONFIG_ARG_MEMTEST=""
CONFIG_ARG_MTD=""
CONFIG_ARG_PRINTK=" lpj=1560576 quiet"
CONFIG_ARG_ROOTFSTYPE=" rootfstype=ext4"
CONFIG_UNC_IMAGE=y
CONFIG_OF_OVERRIDE_DTB_NAME="at91-sam9x75_curiosity.dtb"
CONFIG_LOGO=y
