CONFIG_SAM9X7=y
# CONFIG_SCLK is not set
# CONFIG_HW_DISPLAY_BANNER is not set
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_MT41K128M16=y
CONFIG_NANDFLASH=y
CONFIG_NAND_TIMING_MODE=y
CONFIG_SET_FEATURES_TIMING_MODE=y
CONFIG_ALL_TIMING_MODES=y
CONFIG_NAND_READ_SEQUENTIAL=y
CONFIG_NAND_DMA_SUPPORT=y
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_ARG_DELAY=""
CONFIG_ARG_MEMTEST=""
CONFIG_ARG_PRINTK=""
CONFIG_ARG_ROOT=""
CONFIG_ARG_ROOTFSTYPE=""
CONFIG_ARG_ROOTWAIT=""
CONFIG_ARG_RW=" quiet"
CONFIG_IMG_ADDRESS="0x00080000"
CONFIG_UNC_IMAGE=y
CONFIG_UNC_IMAGE_SIZE="0x900000"
CONFIG_OF_OFFSET="0x00040000"
CONFIG_XDMAC=y
