CONFIG_SAM9X60=y
# CONFIG_SCLK is not set
CONFIG_DEBUG=y
# CONFIG_HW_DISPLAY_BANNER is not set
CONFIG_DDRC=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W971GG6SB=y
CONFIG_SPI_CLK=100000000
CONFIG_QSPI_4B_OPCODES=y
CONFIG_QSPI_DTR_ENABLE=y
CONFIG_QSPI_DMA_SUPPORT=y
CONFIG_LOAD_1MB=y
CONFIG_IMG_ADDRESS="0x00050000"
CONFIG_JUMP_ADDR="0x23f00000"
CONFIG_THUMB=y
